<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ title }}</title>

    {{#responsive}}
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {{/responsive}}

    {{#styles}}
      <link rel="stylesheet" href="{{{ href }}}" type="text/css">
    {{/styles}}
  </head>

  <body>
    {{#scripts}}
      <script src="{{{ src }}}" type="text/javascript"></script>
    {{/scripts}}
  </body>
</html>
